{% macro main(params) %}
    <section class="wrapper style1 align-center">
        <div class="inner">
            <h2>{{ params.bodyHeadingTitle }}</h2>
            {{ params.bodyHeadingBody }}
        </div>
    </section>
{% endmacro %}