{% macro main(params) %}
    <section class="wrapper style1 align-center">
        <div class="inner">
            {% for item in params.slides %}
                {{ _self.item(item) }}
            {% endfor %}  
        </div>
    </section>
{% endmacro %}

{% macro item(params) %}
    <div class="items style1 medium onscroll-fade-in">
        <section>
            <span class="icon style2 major fa-diamond"></span>
            <h3>One</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
        </section>
    </div>
{% endmacro %}