{% extends "_layout" %}
{% import '_macros/_import.twig' as sections %}

{% block content %}
    {% set latestEntries = craft.entries.section('post').limit(3).find() %}
    {{ sections.story({
        entry: latestEntries|first, 
        style: 'style2'
    }) }}

	{% for entry in latestEntries|slice(1, latestEntries|length)  %}
        {{ sections.spotlight({
            entry: entry,
            index: loop.index
        }) }}
	{% endfor %}
{% endblock %}

{% block footer %}
    <a href="/post" class="button special big">See More</a>
{% endblock %}